<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<mapping class="br.com.ttrans.samapp.model.Device" />
		<mapping class="br.com.ttrans.samapp.model.Estacao" />
		<mapping class="br.com.ttrans.samapp.model.Garagem" />
		<mapping class="br.com.ttrans.samapp.model.Geozone" />
		<mapping class="br.com.ttrans.samapp.model.Itinerario" />
		<mapping class="br.com.ttrans.samapp.model.Linha" />
		<mapping class="br.com.ttrans.samapp.model.LogViagem" />
		<mapping class="br.com.ttrans.samapp.model.Menu" />
		<mapping class="br.com.ttrans.samapp.model.Parameter" />
		<mapping class="br.com.ttrans.samapp.model.Partida" />
		<mapping class="br.com.ttrans.samapp.model.PontoControle" />
		<mapping class="br.com.ttrans.samapp.model.Programacao" />
		<mapping class="br.com.ttrans.samapp.model.Role" />
		<mapping class="br.com.ttrans.samapp.model.Setor" />
		<mapping class="br.com.ttrans.samapp.model.Sistema" />
		<mapping class="br.com.ttrans.samapp.model.TrechoItinerario" />
		<mapping class="br.com.ttrans.samapp.model.Trecho" />
		<mapping class="br.com.ttrans.samapp.model.User" />
		<mapping class="br.com.ttrans.samapp.model.Viagem" />

	</session-factory>
</hibernate-configuration>