<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders: Console -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Appenders: File (TomCat instalation directory like "/opt/apache-tomcat-7.0.47/" -->
	<appender name="file" class="org.apache.log4j.FileAppender">
		<param name="File" value="${catalina.home}/logs/sam-log.log" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss} - %-5p: %c - %m%n" />
		</layout>
	</appender>

	<!-- Appenders: DailyFile (TomCat instalation directory like "/opt/apache-tomcat-7.0.47/" -->
	<appender name="dailyFile" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/daily/sam-log.log"  />
		<param name="Append" value="false" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd-MM-yyyy HH:mm:ss} - %-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="br.com.ttrans.samapp">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	 
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<logger name="org.hibernate.SQL">
		<level value="info" />
	</logger>
	
	<!-- Trace Loggers -->
<!-- 	<logger name="org.springframework"> -->
<!-- 		<level value="trace"/> -->
<!-- 	</logger> -->
	
<!--     <logger name="org.springframework.web.servlet.mvc"> -->
<!-- 		<level value="trace"/> -->
<!-- 	</logger> -->

	
	<!-- Hibernate Loggers See @ http://docs.jboss.org/hibernate/core/3.3/reference/en/html/session-configuration.html#configuration-logging
	
	org.hibernate.SQL           Log all SQL DML statements as they are executed
	org.hibernate.type          Log all JDBC parameters
	org.hibernate.tool.hbm2ddl  Log all SQL DDL statements as they are executed
	org.hibernate.pretty        Log the state of all entities (max 20 entities) associated with the session at flush time
	org.hibernate.cache         Log all second-level cache activity
	org.hibernate.transaction   Log transaction related activity
	org.hibernate.jdbc          Log all JDBC resource acquisition
	org.hibernate.hql.ast.AST   Log HQL and SQL ASTs during query parsing
	org.hibernate.secure        Log all JAAS authorization requests
	org.hibernate               Log everything (a lot of information, but very useful for troubleshooting)
	-->
	
	<logger name="org.hibernate.type">
		<level value="info" />
	</logger>
	

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="file"/>
		<appender-ref ref="dailyFile"/>
	</root>
	
</log4j:configuration>
